<div class="jumbotron center">
  <h1>Our Mission</h1>
  <br>
  <p>We are an organization committed to the protection of animals - providing <i><b>foster to forever home services</i></b> in the Greater Seattle Area. Sign up to learn more about our animal <b>foster care program</b>, <b>forever home rescue options</b>, and <b>animal sponsorship</b> opportunies.</p>
</div>